*{
			padding: 0;
			margin: 0;
			font-family: -apple-system,BlinkMacSystemFont,Hiragino Sans GB,Microsoft YaHei,sans-serif;
		}
		ul,ol{
			list-style: none;
		}
		a{
			text-decoration: none;
		}
		a:hover{
			color: #316ccb;
		}
		button{
			outline: none;
		}
		.fl{
			float: left;
		}
		.fr{
			float: right;
		}
		.clearfix{
			zoom: 1
		}
		.clearfix:after{
			content: "";
			display: block;
			clear: both;
			height: 0;
		}
		.layout-sn{
			width: 1184px;
			margin: 0 auto;
			background-color: #f5f5f5;
		}
		.mod-sn{
			width: 100%;
			padding: 24px;
			font-size: 16px;
			overflow: hidden;
			line-height: 35px;
			box-sizing: border-box;
		}
		.mod-sn .sn-title{
			color: #959595;
			width: 70px;
			margin-right: 12px;
			font-size: 12px;
		}
		.mod-sn .company-list{
			width: 916px;
            max-height: 35px;
            transition: all 0.2s linear;
            overflow: hidden;
            font-size: 12px;
		}
		.mod-sn .company-list .list-item{
			display: inline-block;
			width: 100px;
			padding-right: 24px;
			color: #656565;
		}
		.mod-sn .company-list .choosed-item{
			width: 100%;
			font-size: 0px;
		}
		.mod-sn .company-list .choosed-item .choosed-label{
			font-size: 12px;
		}
		.mod-sn .company-list .choosed-item .choosed-list{
			display: inline-block;
			font-size: 0px;
		}
		.selected-item{
			padding: 0 10px;
			display: inline-block;
			font-size: 12px;
			border: 1px solid #e5e5e5;
			color: #316ccb;
			height: 18px;
			line-height: 18px;
			margin-left: 10px;
			margin-bottom: 1px
		}
		.mod-sn .company-list .choosed-item .button-operate{
			text-align: center;
		}
		
		.mod-sn .company-list .confirm{
			width: 60px;
			height: 32px;
			background-color: #316ccb;
			line-height: 30px;
			border: 1px solid #316ccb;
			color: #fff;
		}
		.mod-sn .company-list .confirm:hover{
			border-color: #407fe7;
			background-color:#407fe7; 
		}
		.mod-sn .company-list .cancel{
			width: 60px;
			height: 32px;
			background-color: #fff;
			line-height: 30px;
			border: 1px solid #c5c5c5;
			color: #656565;
			margin-left: 24px;
		}
		.mod-sn .company-list .cancel:hover{
			border-color: #407fe7;
		}
		.mod-sn .list-contol{
			text-align: right;
			font-size: 12px;
		}
		.mod-sn .list-control button{
			margin: 6px 0 6px 18px;
    		width: 48px;
    		height: 24px;
    		line-height: 22px;
   			color: #959595;
    		border: 1px solid #e5e5e5;
    		display: inline-block;
    		background-color: white;
		}
		.mod-sn .list-control button:hover{
			color: #316ccb;
			border-color: #316ccb;
		}
		.mod-sn .list-control .closed{
			display: none;
		}
		.sn-list-expand{
			
		}
		.sn-list-expand .company-list{
			max-height: 184px;
			visibility: visible;
		}
		/*.sn-list-expand .company-list .choosed-item{
			display: none;
		}*/
		.sn-list-expand .list-control .closed{
			display: block;
		}
		.sn-list-expand .list-control .expand{
			display: none;
		}
		.sn-list-expand .list-control .check-more{
			display: none;
		}
		.sn-list-more .company-list{
			max-height: 300px;
			visibility: visible;
		}
	
		.sn-list-more .list-control .expand{
			display: none;
		}
		.sn-list-more .list-control .check-more{
			display: none;
		}
		.mod-sn .choosed-item{
			font-size: 12px;
			color: #656565;
		}