<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>data-list</title>
	<link rel="stylesheet" href="./1.css">
</head>
<body>
	<div class="layout-sn">
		<div class="mod-sn">
			<div class="sn-title fl">厂家</div>
			<div class="company-list fl">
				<ul>
					<li class="list-item"><label><input type="checkbox" name="company" value="shandong">山东</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="hebeijuchi">河北聚驰</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="baogang">宝钢</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="wuxi">无锡</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="tiangang">天钢</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="tianguan">天管</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="tianjin">天津</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="boxunshiye">博讯实业</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="henggang">衡钢</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="youfa">友发</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="hengyang">衡阳</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="jinjun">金骏</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="dingxin">鼎信</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="chengdu">成都</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="angang">鞍钢</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="taigang">太钢</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="benchang">本厂</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="tianjingangguan">天津钢管</label></li>
					<li class="list-item"><label><input type="checkbox" name="company" value="xinyegang">新冶钢</label></li>
				</ul>
				<div class="choosed-item">
					<label class="choosed-label">已选材质:</label>
					<ul class="choosed-list" id="choosedList">
					</ul>
					<div class="button-operate">
						<button class="confirm">确定</button>
					<button class="cancel">取消</button>
					</div>
				</div>
			</div>
			<div class="list-control fl">
				<button class="check-more" more>多选+</button>
				<button class="expand" toogle>展开</button>
				<button class="closed" toogle>收起</button>
			</div>
			
		</div>
	
	</div>
	<script src="../../../../lib/jquery-3.2.1.min.js"></script>
	<script type="text/javascript">
		(function(){
			operate($(".mod-sn"))
		}())

		function operate(div){
			/*展开／收起click*/
			div.find("[toogle]").on("click",function(e){
				var isActive = div.hasClass("sn-list-expand")
				if(isActive){
					div.removeClass("sn-list-expand")
				}else{
					div.addClass("sn-list-expand")
				}
			})
			/*多选+click*/
			div.find("[more]").on("click",function(e){
				var isActive = div.hasClass("sn-list-more")
				if(isActive){
					div.removeClass("sn-list-more")
				}else{
					div.addClass("sn-list-more")

				}
			})
			/*多选列表中多选框的clik事件*/
			div.find(".list-item").on("click","input",function(e){
				var index = $(this).closest(".list-item").index()
				var isSelected = $(this).is(':checked')
				var length = $(":checked").length
				if(length==3){
					$("input:not(:checked)").each(function(){
						$(this).attr("disabled","disabled")
					})
				}else{
					$("input:not(:checked)").each(function(){
						$(this).removeAttr("disabled")
					})
				}
				if(isSelected){
					div.find(".choosed-item > .choosed-list").append("<li class='selected-item' index="+index+">"+$(this).attr("value")+"<span class='cancel-choosed'> X</span></li>")
				}else{
					var a = '[index='+index+']'
					div.find(".choosed-item > .choosed-list").find(a).remove()
				}
			})
			/*已选列表中X的click事件*/
			div.find(".choosed-list").delegate(".selected-item > .cancel-choosed","click",function(e){
				$(this).closest(".selected-item")[0].remove()
				debugger
				var index = $(this).closest(".selected-item")[0].attr("index")
			})
		}
		
	</script>
</body>
</html>

