*{
  margin: 0;
  padding: 0;
}
li,ul{
  list-style: none;
}
.ym-area {
  position: relative;
}
.mod-input {
  font-size: 14px;
  color: #353535;
}
.label {
  
}
.input-box {
  display: inline-block;
  position: relative;
}

.input {
  width: 282px;
  height: 32px;
  box-sizing: border-box;
  line-height: 20px;
  border: 1px solid #e1e1e1;
  padding: 6px 19px 6px 10px;
  font-size: 14px;
  background-color: #fff;
  outline: none;
  /*cursor: pointer;*/
}
.input-box.t .input {
  border-color: #316ccb;
}
.mod-con {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 32px;
  box-shadow: 0 0 16px 0 #c5c5c5;
  display: none;
}
.input-box.t .mod-con {
  display: block;
}
.con-title {
  width: 100%;
  font-size: 0px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}
.con-title>li {
  width: 33.33%;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid #e5e5e5;
  line-height: 30px;
  background: #f5f5f5;
  cursor: pointer;
}
.con-lists {
  display: block;
  box-sizing: border-box;
  background: #fff;
  padding: 16px 12px;
  color: #656565;
  font-size: 0;
  width: 100%;
  font-size: 0px;
}
.con-lists>li {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  width: 25%;
  line-height: 28px;
  overflow: hidden;
}
.con-lists>li.active{
  color: #316ccb;
}

.con-lists>li:hover {
  color: #316ccb;
  cursor: pointer;
}
.input-box.t .con-title .t {
  background: #fff !important;
}




