<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSS制作三角形</title>
	<style>
		p{
			width: 0px;
			height: 0px;
		}
		.down{
			border-style: solid;
			border-width: 10px;
			border-color: red #fff #fff #fff;
		}
		.left{
			border-style: solid;
			border-width: 10px;
			border-color:  #fff red #fff  #fff;
		}
		.up{
			border-style: solid;
			border-width: 10px;
			border-color:  #fff  #fff red #fff;
		}
		.right{
			border-style: solid;
			border-width: 10px;
			border-color:  #fff  #fff  #fff red;
		}
	</style>
</head>
<body>
	<p class="down"></p>
	<p class="left"></p>
	<p class="up"></p>
	<p class="right"></p>

</body>
</html>