<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSS制作三角形</title>
	<style>
		p{
			width: 0px;
			height: 0px;
		}
		.one{
			border-style: solid;
			border-width: 10px;
			border-color: red #fff #fff #fff;
		}
		.two{
			border-style: solid;
			border-width: 10px;
			border-color:  #fff red #fff  #fff;
		}
		.three{
			border-style: solid;
			border-width: 10px;
			border-color:  #fff  #fff red #fff;
		}
		.four{
			border-style: solid;
			border-width: 10px;
			border-color:  #fff  #fff  #fff red;
		}
	</style>
</head>
<body>
	<p class="one"></p>
	<p class="two"></p>
	<p class="three"></p>
	<p class="four"></p>

</body>
</html>