<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>常用js函数（纯js实现）</title>
</head>
<body>
	<script>
		function map(fn,xs){
			var r = [];
			for(var i=0;i<xs.length;i++){
				r.push(fn(xs[i]))
			}
			return r
		}

    function mapIndex(fn,xs){
      var r = [];
      for(var i=0;i<xs.length;i++){
        r.push(fn(xs[i]),i)
      }
      return r
    }

    function each(fn,xs){
      for(var i=0;i<xs.length;i++){
        fn(xs[i])
      }
    }
    // 截取数组中前n个元素
    function take(n,xs){
      var r = [];
      for(var i=0;i<xs.length&i<n;i++){
        r.push(xs[i])
      }
      return r
    }

    // 选取xs中最后n个元素
    function drop(n,xs){
      var r = []
      for(var i=n;i<xs.length;i++){
        r.push(xs[i])
      }
      return r
    }

    function arrIsEmpty(xs) {
      return xs.length==0
    }

    function head(xs){
      return xs[0]
    }

    // 选取除第一个元素外的所有元素
    function tail(xs){
      return xs.slice(1)
    }

    function filter(fn,xs){
      var r = [];
      for(var i=0;i<xs.length;i++){
        if(fn(xs[i])){
          r.push(xs[i])
        }
      }
      return r
    }
    var xs = [1,2,3,45,534]
    var r = filter(function(item){
      if(item>100){
        return item
      }else{
        null
      }
    },xs)
    // console.log(r)
    function uniq(arr){
       return arr.length == 0 ? []
       : arr.length == 1 ? arr
       : [arr[0]].concat(uniq(filter(a=>a.city!=arr[0].city,arr.slice(1))))
    }
    var a = [{"province":"山东","city":"青岛"},{"province":"广东","city":"广州"},{"province":"山东","city":"青岛"}]
    var b = [10,3,234,10,43,45,234]
    console.log(uniq(a))
	</script>
</body>
</html>