<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>url参数增、删、改查</title>
</head>
<body>

	<script>
		var url = "httpps://www.wuage.com?a=1/#main"
    var obj = {
      d:4,
      e:5,
    }
	
    // var r = parserUrl(url)
    var params = {
      b:2,
      c:3
    }
    paramConcatUrl(url,params)
    
    function parserUrl(url){
      var r = {}
      var preqs = url.split('#')[0]
      var qs = preqs.split('?').slice(1).join('?')
      var pairs = qs.split('&')
      for(var i=0;i<pairs.length;i++){
        var keyValue = pairs[i].split('=') 
        var key = keyValue[0]
        r[key] = keyValue.slice(1).join('=')  /*变成字符串*/
      }
      return r
    }


    function paramConcatUrl(originurl,params){
      debugger
      var urls = originurl.split('#')
      var url = urls[0]
      var rep = url.indexOf('?') == -1 ? '?' : '&'
      var pairs = []
      for(var key in params){
        pairs.push(key+'='+params[key])
      }
      if(pairs.length == 0){
        return tourl(url)
      }else{
        return tourl(url + rep + pairs.join('&'))
      }
      function tourl(url){
        if(urls.length>1){
          return url + '#' + urls.slice(1).join('#')
        }else{
          return url
        }
      }
    }

		function each(fn,xs){
      for(var i=0;i<xs.length;i++){
        fn(xs[i])
      }
    }
	</script>
	
</body>
</html>