<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>location对象</title>
</head>
<body>
	<p>Window.location:只读属性，返回一个Location对象，其中包含有关文档位置的信息</p>
	<p>方法：assign():导航到一个新页面：
		window.location.assign("http://www.mozilla.org")
		window.location="http://www.mozilla.org"
	</p>
	<p>刷新页面：window.location.reload()</p>
	<p>window.location.pathname:属性：值为："/zh-CN/docs/Web/API/Window/location"  假设uurl="https://developer.mozilla.org/zh-CN/docs/Web/API/Window/location"</p>
	<p>window.location.search:属性。值为：？后到参数，包含问号。假设url="https://www.google.co.jp/search?q=javascript%E7%9A%84location%E5%AF%B9%E8%B1%A1&oq=javascript%E7%9A%84location%E5%AF%B9%E8%B1%A1&gs_l=serp.3...772375.773768.0.773943.9.7.0.0.0.0.258.258.2-1.1.0....0...1.1.64.serp..8.0.0.s98q1sl9nhk"。则window.location.search="?q=javascript%E7%9A%84location%E5%AF%B9%E8%B1%A1&oq=javascript%E7%9A%84location%E5%AF%B9%E8%B1%A1&gs_l=serp.3...772375.773768.0.773943.9.7.0.0.0.0.258.258.2-1.1.0....0...1.1.64.serp..8.0.0.s98q1sl9nhk"。</p>
	<p>window.location.hash:属性。</p>
	<p>window.location.href:属性。值为页面的url地址</p>
	<p>window.location.host：属性：值为页面url的host</p>
	<p>window.location.hostname:属性：值为url的houst，值域window.location.host一致</p>
	<p>window.location.origin:属性：值为原始的网址：例如url="https://developer.mozilla.org/zh-CN/docs/Web/API/Window/location"。则window.location.origin="https://developer.mozilla.org"</p>
	<p>window.locatio.pathname="/zh-CN/docs/Web/API/Window/location"</p>
	<p>window.location.port:端口号</p>
	<p>window.location.protocol:https。协议</p>
</body>
</html>