<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>垂直居中weurwr</title>
  <style>
    ul{
      width: 100%;
      font-size: 0px;
    }
    li{
      width: 300px;
      height: 300px;
      box-sizing: border-box;
      border:1px solid red;
      text-align: center;
      padding-top: 150px;
      font-size: 0px;
      display:inline-block;
    }
    img{
      width: 100px;
      height: 100px;
    }
    .area{
      margin-top: -50px;
      font-size: 0px;
    }
    .content{
      display: inline-block;
      font-size: 12px;
      vertical-align: top;
    }
  </style>
</head>
<body>
  <ul>
    <li>
      <div class="area">
        <div style="width: 100px;height: 100px;display: inline-block;box-sizing: border-box;border:1px solid red">
          <img src="" alt="">
        </div>
        <div class="content">
          <p>few</p>
          <p>few</p>
          <p>few</p>
      </div>
      </div>
    </li>
    <li>
      <div class="area">
        <img src="" alt="">
        <div class="content">
          <p>few</p>
          <p>few</p>
          <p>few</p>
      </div>
      
      </div>
    </li>
    <li>
      <div class="area">
        <img src="" alt="">
        <div class="content">
          <p>few</p>
          <p>few</p>
          <p>few</p>
      </div>
      
      </div>
    </li>
  </ul>
</body>
</html>