<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<style>
  .box{
    width: 10000px;
    height: 10000px;
  }
  .fixed{
    width: 10000px;
    height: 10000px;
    position: fixed;
    top: 0;
    left: 0;
    text-align:center;
    background-color: #353535;
    opacity: 0.6;
  }
  .container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: 100000;
    color: red;
    background-color: #fff;
  }
</style>
<body>
  <div class="box">
    <p>salejoweijssalejoweijssalejoweijssalejoweijssalejoweijssalejoweijssalejoweijssalejoweijssalejoweijssalejoweijssalejoweijs</p>
  </div>
  <div class="fixed">
    
  </div>
  <div class="container">
      <form action="">
        <input type="text">asf
      </form>
    </div>
</body>
</html>