<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>轮播</title>
	<style>
		.banner{
			width:200px;
			height: 200px;
			font-size: 0px;
			margin: 0 auto;
			overflow: hidden;
			border:1px solid red;
			box-sizing: border-box;
		}
		img{
			display: inline-block;
			width:200px;
			height: 200px;
			transition: 2s margin-left linear;			
		}
		.hidden{
			display: none;
			
		}
		
	</style>
</head>
<body>
	
	<div class="banner">
		<img class="active" src="http://ww4.sinaimg.cn/large/006y8mN6gw1fa5obmqrmvj305k05k3yh.jpg" alt="1">
	    <img src="http://ww4.sinaimg.cn/large/006y8mN6gw1fa5obmqrmvj305k05k3yh.jpg" alt="2">
	    <!-- <img src="http://ww1.sinaimg.cn/large/006y8mN6gw1fa7kaed2hpj30sg0l9q54.jpg" alt="3">
	    <img src="http://ww4.sinaimg.cn/large/006y8mN6gw1fa5obmqrmvj305k05k3yh.jpg" alt="4"> -->
	    
	</div>

	<script src="https://static.wuage.com/goods/lib/jquery.min.js"></script>
	<script>
		(function () {

			main($(".banner"))

		})()

		function main(div){
			
		}

		function fadeout(div){
			setTimeout(function(){
				div.addClass('img-fade')
				div.removeClass('active')
			},1000)
		}
		function fadein(div){
			div.addClass("active")
			div.addClass("img-show")
		}

	</script>
</body>
</html>





