<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>左右箭头的轮播</title>
  <link rel="stylesheet" href="http://static.wuage.com/common/lib/reset.css"/>
  <link rel="stylesheet" href="./css/index.css">
</head>
<body>
  <div class="layout-spu" page="5" scroller>
    <h3>您可能想要以下产品</h3>
    <div class="container">
      <ul scroll-content="1088">
        <li>
          <a href="xxx" class="imgauthor">
            <img src="https://src.wuage.com/Public/148730904163818222500_750_750.jpg_280px" alt="冷轧">
          </a>
          <div class="info">
            <a href="xxx" class="name1">冷轧无取向硅钢钢</a>
            <a href="xxx" class="name2">50SW350W</a>
            <a href="xxx" class="name3">首钢</a>
          </div>
        </li>
        <li>
          <a href="xxx" class="imgauthor">
            <img src="https://src.wuage.com/Public/148730904163818222500_750_750.jpg_280px" alt="冷轧">
          </a>
          <div class="info">
            <a href="xxx" class="name1">冷轧无取向硅钢钢</a>
            <a href="xxx" class="name2">50SW350W</a>
            <a href="xxx" class="name3">首钢</a>
          </div>
        </li>
        <li>
          <a href="xxx" class="imgauthor">
            <img src="https://src.wuage.com/Public/148730904163818222500_750_750.jpg_280px" alt="冷轧">
          </a>
          <div class="info">
            <a href="xxx" class="name1">冷轧无取向硅钢钢</a>
            <a href="xxx" class="name2">50SW350W</a>
            <a href="xxx" class="name3">首钢</a>
          </div>
        </li>
        <li>
          <a href="xxx" class="imgauthor">
            <img src="https://src.wuage.com/Public/148730904163818222500_750_750.jpg_280px" alt="冷轧">
          </a>
          <div class="info">
            <a href="xxx" class="name1">冷轧无取向硅钢钢</a>
            <a href="xxx" class="name2">50SW350W</a>
            <a href="xxx" class="name3">首钢</a>
          </div>
        </li>
        <li>
          <a href="xxx" class="imgauthor">
            <img src="https://src.wuage.com/Public/148730904163818222500_750_750.jpg_280px" alt="冷轧">
          </a>
          <div class="info">
            <a href="xxx" class="name1">冷轧无取向硅钢钢</a>
            <a href="xxx" class="name2">50SW350W</a>
            <a href="xxx" class="name3">首钢</a>
          </div>
        </li>
        <li>
          <a href="xxx" class="imgauthor">
            <img src="https://src.wuage.com/Public/148730904163818222500_750_750.jpg_280px" alt="冷轧">
          </a>
          <div class="info">
            <a href="xxx" class="name1">冷轧无取向硅钢钢</a>
            <a href="xxx" class="name2">50SW350W</a>
            <a href="xxx" class="name3">首钢</a>
          </div>
        </li>
        <li>
          <a href="xxx" class="imgauthor">
            <img src="https://src.wuage.com/Public/148730904163818222500_750_750.jpg_280px" alt="冷轧">
          </a>
          <div class="info">
            <a href="xxx" class="name1">冷轧无取向硅钢钢</a>
            <a href="xxx" class="name2">50SW350W</a>
            <a href="xxx" class="name3">首钢</a>
          </div>
        </li>
        <li>
          <a href="xxx" class="imgauthor">
            <img src="https://src.wuage.com/Public/148730904163818222500_750_750.jpg_280px" alt="冷轧">
          </a>
          <div class="info">
            <a href="xxx" class="name1">冷轧无取向硅钢钢</a>
            <a href="xxx" class="name2">50SW350W</a>
            <a href="xxx" class="name3">首钢</a>
          </div>
        </li>
        <li>
          <a href="xxx" class="imgauthor">
            <img src="https://src.wuage.com/Public/148730904163818222500_750_750.jpg_280px" alt="冷轧">
          </a>
          <div class="info">
            <a href="xxx" class="name1">冷轧无取向硅钢钢</a>
            <a href="xxx" class="name2">50SW350W</a>
            <a href="xxx" class="name3">首钢</a>
          </div>
        </li>
        <li>
          <a href="xxx" class="imgauthor">
            <img src="https://src.wuage.com/Public/148730904163818222500_750_750.jpg_280px" alt="冷轧">
          </a>
          <div class="info">
            <a href="xxx" class="name1">冷轧无取向硅钢钢</a>
            <a href="xxx" class="name2">50SW350W</a>
            <a href="xxx" class="name3">首钢</a>
          </div>
        </li>
        <li>
          <a href="xxx" class="imgauthor">
            <img src="https://src.wuage.com/Public/148730904163818222500_750_750.jpg_280px" alt="冷轧">
          </a>
          <div class="info">
            <a href="xxx" class="name1">冷轧无取向硅钢钢</a>
            <a href="xxx" class="name2">50SW350W</a>
            <a href="xxx" class="name3">首钢</a>
          </div>
        </li>
        <li>
          <a href="xxx" class="imgauthor">
            <img src="https://src.wuage.com/Public/148730904163818222500_750_750.jpg_280px" alt="冷轧">
          </a>
          <div class="info">
            <a href="xxx" class="name1">冷轧无取向硅钢钢</a>
            <a href="xxx" class="name2">50SW350W</a>
            <a href="xxx" class="name3">首钢</a>
          </div>
        </li>
        <li>
          <a href="xxx" class="imgauthor">
            <img src="https://src.wuage.com/Public/148730904163818222500_750_750.jpg_280px" alt="冷轧">
          </a>
          <div class="info">
            <a href="xxx" class="name1">冷轧无取向硅钢钢</a>
            <a href="xxx" class="name2">50SW350W</a>
            <a href="xxx" class="name3">首钢</a>
          </div>
        </li>
        <li>
          <a href="xxx" class="imgauthor">
            <img src="https://src.wuage.com/Public/148730904163818222500_750_750.jpg_280px" alt="冷轧">
          </a>
          <div class="info">
            <a href="xxx" class="name1">冷轧无取向硅钢钢</a>
            <a href="xxx" class="name2">50SW350W</a>
            <a href="xxx" class="name3">首钢</a>
          </div>
        </li>
        <li>
          <a href="xxx" class="imgauthor">
            <img src="https://src.wuage.com/Public/148730904163818222500_750_750.jpg_280px" alt="冷轧">
          </a>
          <div class="info">
            <a href="xxx" class="name1">冷轧无取向硅钢钢</a>
            <a href="xxx" class="name2">50SW350W</a>
            <a href="xxx" class="name3">首钢</a>
          </div>
        </li>
      </ul>
    </div>
    <div functionbar class="functionbar">
      <i class="d-icon scroll-left" left-action></i>
      <i class="d-icon scroll-right" right-action></i>
    </div>
  </div>
  <script src="http://static.wuage.com/goods/lib/jquery.min.js"></script>
  <script src="./7.js"></script>
</body>
</html>