<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>图片裁剪</title>
  <link rel="stylesheet" href="./jquery.Jcrop.css">
  <link rel="stylesheet" href="./1.css">
</head>
<body>
  <div class="part-pic" style="width:200px;height:200px;margin:0 auto">
    <img id="img-origin" src="http://ww4.sinaimg.cn/large/006y8mN6gw1fa5obmqrmvj305k05k3yh.jpg" alt="">
  </div>
  <div class="form-img">
    <div class="img-cut"></div>
  </div>
  
  <!-- <div class="test">
    <div class="test-img"></div>
  </div> -->


  <div class="fixed">
    <div class="content">
      <p>弹框</p>
    </div>
  </div>

  <script src="../../../../lib/jquery-3.2.1.min.js"></script>
  <script src="./jquery.Jcrop.js"></script>
  <script src="./1.js"></script>
</body>
</html>