<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>导航</title>
  <link rel="stylesheet" href="./1.css">
</head>
<body>
  <div class="topNav clearfix" topNav>
    <p class="company-name fl">上海励冉实业有限公司</p>
    <ul class="nav-list topTab fl" nav-list>
      <li class="list-item itemActive" list-item>商品详情</li>
      <li class="list-item" list-item>交易说明</li>
    </ul>
    <button class="contact-buyer fr" btn-contact>联系卖家</button>
    <button class="query-price fr" btn-contact>立即询价</button>
  </div>
  <div class="good-intro">
    <div class="detail" info>
      <img src="https://img.wuage.com/public/149464503109415437305_750_400.jpg" alt="aa">
      <img src="https://img.wuage.com/public/149464503109415437305_750_400.jpg" alt="aa">
    </div>
    <div class="trade" info>
      <img src="https://img.wuage.com/public/149464502093382740381_804_234.jpg" alt="aa">
      <img src="https://img.wuage.com/public/149464502093382740381_804_234.jpg" alt="aa">
    </div>  
  </div>
  <script src="https://static.wuage.com/goods/lib/jquery.min.js"></script>
  <script src="./1.js"></script>
</body>
</html>