<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>window 对象</title>
</head>
<body>
	<p>window对象表示一个包含DOM文档的窗口，其document属性指向窗口中载入的DOM文档。
		window对象实现了Window接口。</p>
	<p>window.frameElement:返回window中嵌入的元素</p>
	<p>window.frames：返回所有的frames标签组层的数组</p>
	<p>window.history:返回history对象的引用</p>
	<p>window.innerHeight：返回浏览器窗口的内容区域的高度，包含水平滚动条</p>
	<p>window.innerWidth：返回浏览器窗口的内容区域的宽度，包含垂直滚动条</p>
	<p>window.location：获取、设置window对象的location，或者当前的URL</p>
	<p>window.name:返回window的name属性值</p>
	<p>window.navigator:返回navigator对象</p>
	<p>window.outHeight:</p>
	<p>window.outWidth:</p>
</body>
</html>