<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>min-width</title>
  <style>
    body{
      min-width: 1000px;
    }
  </style>
</head>
<body>
  <div >sfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfweessfwees</div>
</body>
</html>