<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue-router应用</title>
</head>
<body>
	<div id="app">
		<h1>hello app!</h1>
		<p>
			<!-- <router-link to="/foo">go to foo</router-link>
			<router-link to="/bar">go to bar</router-link> -->
		</p>
		<!-- <router-view></router-view> -->
	</div>

  <div class="a" style="font-size: 12px;"></div>


<!-- <div class="mod-identity">
    <div style="width: 0;height: 160px;display: inline-block;vertical-align: middle;"></div>
    <img class="identity-img" src="./image/avatar.png" alt="">
    <div class="part-identity">
      <div class="identity-intro">
        <span class="identity-company">天津富升伟业钢铁贸易有限公司</span>
        <i class="fe-icon-font fe-icon-editor edit">
          <div class="trangle"></div>
          <div class="edit-tip">请至「会员中心-公司管理」完善公司信息
            <a href="" class="mt-8 normal-link fr">立即前往</a>
          </div>
        </i>
        <span class="identity-tel">（13533332213）</span>
        <span class="identity-link"> 认证失败，完善认证信息，<a href="" class="normal-link">去认证，快速开店挂货</a></span>
        <i class="d-icon authenticated"></i>
        <i class="d-icon pin"></i>
        <i class="d-icon bao"></i>
      </div>
      <div class="partner-text">升级成为 [钢铁拍档] 会员，可获得五阿哥更多权益和商机，<a href="" class="normal-link">立即成为钢铁拍档</a></div>
      <div style="height: 8px;"></div>
      <div class="identity-level">
        <i class="d-icon partner"></i>
        <i class="d-icon star ml-8"></i>
        <i class="d-icon star ml-5"></i>
        <i class="d-icon star ml-5"></i>
        <i class="d-icon star ml-5"></i>
        <i class="d-icon star ml-5"></i>
        <span class="level-text">（您的钢铁拍档续费订单待付款，超15天取消订单，<a href="" class="normal-link">去付款</a>）</span>
      </div>
      <div class="identity-right">
        <a href="" class="right-name">帐号管理</a>
        <div class="separate" ></div>
        <a href="" class="right-name">电子名片</a>
        <div class="separate"></div>
        <a href="" class="right-name">我的店铺</a>
        <div class="separate"></div>
        <span class="right-name detail">网商银行资金明细
          <div class="trangle"></div>
          <ul class="money-detail">
              <li class="tip-item">
                <label for="" class="label-name">开户银行：</label>
                <label for="" class="label-value">浙江网商银行股份有限公司</label>

              </li>
              <li class="tip-item">
                <label for="" class="label-name">银行帐号：</label>
                <label for="" class="label-value">888888888906901861</label>
              </li>
              <li class="tip-item">
                <label for="" class="label-name">帐号名称：</label>
                <label for="" class="label-value">五矿电子商务有限公司</label>
              </li>
              <li class="tip-item">
                <a href="" class="normal-link fr">去查看资金明细</a>
              </li>
            </ul>
        </span>
      </div>
    </div>
  </div> -->
  
  




	
	<!-- <script src="../../../lib/jquery-3.2.1.min.js"></script> -->
	<!-- <script src="../js/index.js"></script> -->
  <script>
    window.onload = function () {
      document.getElementsByClassName('a')[0].innerHTML = '<a href="xxx">afwe</a>'
    }
  </script>





</body>
</html>